.grid-licenses
	font-size: 0

	&__left
		font-size: initial
		display: inline-block
		vertical-align: top
		width: 210px
		box-sizing: border-box

	&__right
		margin-left: 80px
		font-size: initial
		display: inline-block
		vertical-align: top
		width: calc(100% - 290px)
		box-sizing: border-box
		padding-left: 10px