<div class="certificate">
    <img src="{{ article.img }}" alt="{{ article.title }}" class="certificate__img">
    <p class="certificate__title">{{ article.title }}</p>
    <a href="http://www.reztsoff.com/en/license" class="certificate__link" target="_blank">Все документы</a>
</div>