<div class="contacts">
    <a href="tel:+74957958755" class="contacts__phone">+7 (495) 795-87-55</a>
    <div class="contacts__text">
        <a href="#" class="contacts__link js-open-popup" data-popup-name="popup-callback">Заказать звонок</a> | <a href="#contacts" class="contacts__link js-scroll-section">Контактная информация</a>
    </div>
</div>