<nav class="navigation">
    <a href="#about-us" class="navigation__link js-scroll-navigation">О нас</a>
    <a href="#technologies" class="navigation__link js-scroll-navigation">Технологии и надежность</a>
    <a href="#branches" class="navigation__link js-scroll-navigation">Отрасли</a>
    <a href="#directions" class="navigation__link js-scroll-navigation">Направления проектирования</a>
    <a href="#licenses" class="navigation__link js-scroll-navigation">Преимущества</a>
    <a href="#reviews" class="navigation__link js-scroll-navigation">Отзывы</a>
    <a href="#licenses" class="navigation__link js-scroll-navigation">Лицензии</a>
    <a href="#projects" class="navigation__link js-scroll-navigation">Проекты</a>
</nav>