.article-reason

.article-reason__title
	font-size: 18px
	font-weight: normal
	font-family: 'Fira Sans Bold', sans-serif
	margin-top: 20px
	line-height: 1.3
	text-transform: lowercase
	&:first-letter
		text-transform: uppercase

.article-reason__info
	font-size: 12px
	font-family: 'Fira Sans Book', sans-serif
	line-height: 1.5