<article class="article">
    <div class="article__thumb">
        <img src="{{ article.img }}" alt="{{ article.img }}" class="article__img">
        <div class="article__overlay">
            <a href="#" class="button">Подробнее</a>
        </div>
    </div>
    <a href="#" class="article__link"><p class="article__title">{{ article.title }}</p></a>
    <p class="article__info">{{ article.info }}</p>
</article>