<article class="article-reason">
    <i class="article-reason__icon fri {{ article.icon }}"></i>
    <p class="article-reason__title">{{ article.title }}</p>
    <p class="article-reason__info">{{ article.info }}</p>
</article>