<div class="popup-overlay">
    <div class="popup popup-callback" data-popup="popup-callback">
        <div class="popup__wrapper">
            <a href="#" class="js-close-popup"><i class="popup-callback__close"></i></a>

            <div class="grid-popup">
                <div class="grid-popup__left">
                    <div class="logo">
                        <img src="images/logo.png" alt="Логотип" class="logo__img">
                    </div>
                    <p class="popup-callback__title">Заказать звонок</p>
                    <p class="popup-callback__info">Оставьте Ваш номер телефона<br> и в ближайшее время наш<br> специалист перезвонит вам</p>
                </div>
                <div class="grid-popup__right">
                    <form action="" class="form">
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="ФИО">
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="Телефон">
                            <span class="form__text">Наример: +7 (920) 268-98-75</span>
                        </div>
                        <div class="form__group">
                            <button class="button">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="popup popup-project" data-popup="popup-project">
        <div class="popup__wrapper">
            <a href="#" class="js-close-popup"><i class="popup-project__close"></i></a>

            <section class="section section-info">
                <img src="images/popup-img.jpg" alt="" class="section-info__img">
                <div class="section-info__container container">
                    <p class="section__title section__title_line_down">Проекты заводов, фабрик</p>
                    <p class="section-info__info">
                        Выполняем комплекс работ по разработке проектов заводов, фабрик, производственных зданий, как нового строительства, так и реконструкции, технического перевооружения.<br>Главный аспект при проектировании - эффективность технологического процесса, безопасные и комфортные условия работы на предприятии.
                    </p>
                    <div class="grid-double">
                        <div class="grid-double__item">
                            <p class="section-info__text">Проектирование заводов, фабрик – сложный, многоплановый процесс, требующий не только квалифицированного подхода, но и специфических знаний производственных и технологических процессов.</p>
                            <p class="section-info__text">При разработке проекта мы тесно сотрудничаем с технологами производства, разработчиками технологических процессов, поставщиками технологического оборудования.</p>
                            <p class="section-info__text">Профессионализм нашей компании подтвержден многолетним опытом успешной реализации проектов строительства, реконструкции и технического перевооружения</p>
                        </div>
                        <div class="grid-double__item">
                            <p class="section-info__text">реконструкции и технического перевооружения маслоэкстракционных, кондитерских, химических, металлургических, деревообрабатывающих, фармацевтических предприятий.</p>
                            <p class="section-info__text">При разработке проекта мы уделяем особое внимание обеспечению комфортных и безопасных условий труда. Важным также является создание современного промышленного дизайна зданий.</p>
                        </div>
                    </div>
                    <ul class="list-default">
                        <li class="list-default__title">Проектный отдел ООО «Резцофф» разрабатывает:</li>
                        <li class="list-default__item">Проекты предприятий пищевой промышленности.</li>
                        <li class="list-default__item">Проекты деревообрабатывающих заводов, мебельных производств.</li>
                        <li class="list-default__item">Проекты машиностроительных заводов.</li>
                        <li class="list-default__item">Проекты предприятий по выпуску цемента, бетона, ЖБИ.</li>
                        <li class="list-default__item">Проекты фармацевтических и химических заводов.</li>
                        <li class="list-default__item">Проекты предприятий по выпуску тканей, одежды, обуви.</li>
                    </ul>
                    <p class="section-info__text section-info__text_larger">Оказываем <a href="#" class="section-info__link">услуги Генерального подряда</a>, выполняем комплекс строительно-монтажных работ своими силами.</p>
                </div>
            </section>
        </div>
    </div>

    {#<div class="popup popup_successfully" data-popup="successfully">
        <span class="js-close-popup popup__close"></span>
        <div class="popup__text">
            <p><strong>Ваша заявка успешно отправлена!</strong> </p>
            <p>Мы свяжемся с Вами в ближайшее время</p>
        </div>
    </div>#}




</div>