<ul class="list-info">
    <li class="list-info__item">
        <i class="list-info__icon fri fri-handshake-large"></i>
        <a href="#about-us" class="list-info__link js-scroll-section">Клиенты <br>о нас</a>
    </li>
    <li class="list-info__item">
        <i class="list-info__icon fri fri-diploma-large"></i>
        <a href="#projects" class="list-info__link js-scroll-section">Реализованные <br>проекты</a>
    </li>
    <li class="list-info__item">
        <i class="list-info__icon fri fri-factory-large"></i>
        <a href="#licenses" class="list-info__link js-scroll-section">Сертификаты и <br>допуски на работы</a>
    </li>
</ul>