<ul class="list-clients">
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/1.png" alt="1.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/2.png" alt="2.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/3.png" alt="3.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/4.png" alt="4.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/5.png" alt="5.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/6.png" alt="6.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/7.png" alt="7.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/8.png" alt="8.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/9.png" alt="9.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/10.png" alt="10.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/11.png" alt="11.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/12.png" alt="12.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/13.png" alt="13.png" class="list-clients__img">
        </a>
    </li>
    <li class="list-clients__item">
        <a href="#" target="_blank" class="list-clients__link">
            <img src="images/clients/14.png" alt="14.png" class="list-clients__img">
        </a>
    </li>
</ul>