<ul class="list">
    <li class="list__item">
        <span class="list__number">1.</span>
        <span class="list__text">Активно используем новые технологии при разработке проекта.</span>
    </li>
    <li class="list__item">
        <span class="list__number">2.</span>
        <span class="list__text">Применяем эффективные системы управления проектом.</span>
    </li>
    <li class="list__item">
        <span class="list__number">3.</span>
        <span class="list__text">Сокращаем сроки выполнения проектных работ.</span>
    </li>
    <li class="list__item">
        <span class="list__number">4.</span>
        <span class="list__text">Обеспечиваем совместную работу над проектом всех участников проектирования.</span>
    </li>
    <li class="list__item">
        <span class="list__number">5.</span>
        <span class="list__text">Комплексно и оперативно вносим изменения в проект.</span>
    </li>
</ul>
