.callback
	box-sizing: border-box

.callback__title
	font-size: 28px
	font-family: 'Fira Sans Medium', sans-serif
	color: $color-white
	line-height: 1.4
	margin-top: 0
	text-transform: lowercase
	&:first-letter
		text-transform: uppercase

.callback__phone
	color: $color-dark
	font-size: 54px
	font-family: 'Fira Sans ExtraLight', sans-serif
	text-decoration: none
	display: inline-block
	margin-bottom: 15px

.callback__text
	display: inline-block
	margin-top: 50px
	line-height: 1.5
	font-family: 'Fira Sans Book', sans-serif
	font-size: 16px
	color: $color-dark
	text-transform: lowercase
	&:first-letter
		text-transform: uppercase

.callback__link
	color: $color-dark

	&:hover
		text-decoration: none