<footer class="footer">
    <div class="footer__container container">
        <p class="footer__text footer__text_right">© 2016 г, Компания «Резцофф» — <br>промышленное проектирование, строительство производственных<br>объектов «под ключ».</p>
        <a href="/"><img src="images/logo-light.png" alt="logo footer" class="footer__logo"></a>
        <p class="footer__text">г. Шуя, ул. Свердлова, д. 108 <br>Офис продаж: +7 495 795 87 55 <br>E-mail:
            <a href="mailto:proekt@reztsoff.ru" class="footer__link">proekt@reztsoff.ru</a>
        </p>
    </div>
</footer>